%button {
	text-decoration: none;
    display: block;
    padding-bottom: 0.2em;
    margin-bottom: -0.2em;
    font-family: $rift;
    border: none;

    &:hover > span {
    	border-bottom-color: currentColor;
    }

	> span {
		display: block;
		font-size: 2em;
		line-height: 0.825em;
		white-space: nowrap;
		border-bottom: 0.05em dotted transparent;
	}  
}

%button--arrow {
	position: relative;
	padding-right: 1.5em;

	&::after {
		content: "";
		box-shadow: 0.2em 0.2em 0 currentColor;
		width: 0.5em;
		height: 0.5em;
		transform: translate(-150%, -50%) rotate(-45deg);
		position: absolute;
		right: 0;
		top: 50%;
	}
}

%button--generic {
	@extend %button;
	display: inline-block;
	background: $white;
    color: $black;
    padding: 0.4em 1.8em 0.4em 1em;

	&::after {
		box-shadow: 0.16em 0.16em 0 currentColor;
	}

	> span {
    	font-size: 1.2em;
		line-height: 1.2em;
		border-bottom-width: 0.1em;
		
		span {
			display: inline-block;
			margin: 0 0.25em;
			color: rgba($black, 0.4);
		}
	}
}

.button {
	@extend %button;
}

.button--generic {
	@extend %button--generic;
	@extend %button--arrow;
}


.button--download {
	@extend %button--generic;
	@extend %button--arrow;

	&::after {
		transform: translate(-150%, -125%) rotate(45deg);
	}
}